<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h5>Студенты</h5>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">

      <div class="row">

        <div ngbDropdown class="col-md-2">
          <button class="btn btn-outline-secondary btn-block text-truncate" id="specialityFilter" ngbDropdownToggle>
            {{specialityFilter || 'Специальность'}}
          </button>
          <div ngbDropdownMenu aria-labelledby="specialityFilter">
            <button class="dropdown-item" *ngFor="let speciality of specialities$ | async" (click)="filterSpeciality(speciality.title)">{{speciality.title}}</button>
          </div>
        </div>

        <div ngbDropdown class="col-md-2">
          <button class="btn btn-outline-secondary btn-block" id="courseFilter" ngbDropdownToggle>{{courseFilter || 'Курс' }}</button>
          <div ngbDropdownMenu aria-labelledby="courseFilter">
            <button class="dropdown-item" *ngFor="let course of courses" (click)="filterCourse(course)">{{course}}</button>
          </div>
        </div>

        <div class="col-md-5">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Импорт студентов из .CSV" style="height: 33px;" readonly>
            <label class="input-group-append mb-0">
              <span class="btn btn-primary">
                Импортировать&hellip;
                <input type="file" style="display: none;">
              </span>
            </label>
          </div>
        </div>

        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block" (click)="add()">Добавить студента</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <input [(ngModel)]="studentNameFilter" type="text" class="form-control" placeholder="Поиск студента...">
        </div>
      </div>

    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <table class="table" *ngIf="(students$ | async)?.length > 0; else emptyStudents">
        <tbody>
          <tr *ngFor="let student of students$ | async | filterStudents: { name: studentNameFilter, speciality: specialityFilter, course: courseFilter}">
            <td>{{student.name}}
              <i class="details-label">({{student.group}})</i>
            </td>
            <td class="w-25">
              <div class="float-right">
                <button type="button" class="btn btn-primary" [routerLink]="['../student-details', student._id]">Подробнее</button>
                <button type="button" class="btn btn-danger ml-3" (click)="remove(student)">Удалить
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #emptyStudents>
        <div class="m-2">Пока нет студентов</div>
      </ng-template>
    </div>
  </div>
</div>