<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="main-part col-md-12 col-lg-8">
        <div class="row">
          <div class="col-12 title">
            <p>
              Написание не очень длинных тезисов к конференции "PM DAY"
            </p>
          </div>
        </div>
        <div class="row">
          <div class="activity">
            <div class="activity-body d-flex flex-column">
              <div class="sub-title">
                <p>
                  Описание деятельности:
                </p>
              </div>
              <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci alias beatae culpa distinctio dolor,
                  dolorem eligendi enim minus nostrum obcaecati officia, perferendis quam, reiciendis repellendus vitae voluptas
                  voluptatum.</span>
                <span>
                  Cumque inventore labore libero modi repudiandae saepe sed. Alias atque delectus dolorum, exercitationem ipsam iusto maxime
                  molestias necessitatibus officia officiis quasi ratione sapiente sequi suscipit tempora unde voluptate
                  voluptatem voluptatum?</span>
              </p>
              <div class="sub-title">
                <p>
                  Дополнительно:
                </p>
              </div>
              <div class="creator-wrapper d-flex ">
                <p class="key creator"> Создано: </p>
                <p class="value">Тесленко П.А.</p>
              </div>
              <div class="time-wrapper d-flex ">
                <p class="key time"> Добавлено: </p>
                <p class="value">24.11.2017 в 10:36 </p>
              </div>
              <div class="encouragement-wrapper d-flex">
                <p class="encouragement-title key">Поощрение:</p>
                <p class="encouragement-value value">5 баллов</p>
              </div>
              <div class="status-wrapper d-flex">
                <p class="status-title key">Статус:</p>
                <p class="status-value value">Не подтверждено</p>
              </div>
              <div class="wrapper">
                <input type="button" class="send-prop" value="Заявка">
              </div>
            </div>
          </div>
          <div class="proposals">
            <div class="row">
              <div class="sub-title col-12">
                <p>
                  Заявки на участие:
                </p>
              </div>
            </div>
            <div class="row">
              <div class="proposal-item col-12 d-flex justify-content-between align-items-baseline">
                <a href="" class="student-data">
                  Бурыдкина Татьяна
                </a>
                <div class="wrapper d-flex">
                  <input type="button" class="accept" value="Принять">
                  <input type="button" class="cancel" value="Отклонить">
                  <input type="button" class="accept-mobile" value="+">
                  <input type="button" class="cancel-mobile" value="x">
                </div>

              </div>
              <div class="proposal-item col-12 d-flex justify-content-between align-items-baseline">
                <a href="" class="student-data">
                  Бурыдкина Татьяна
                </a>
                <div class="wrapper d-flex">
                  <input type="button" class="accept" value="Принять">
                  <input type="button" class="cancel" value="Отклонить">
                  <input type="button" class="accept-mobile" value="+">
                  <input type="button" class="cancel-mobile" value="x">
                </div>

              </div>
              <div class="proposal-item col-12 d-flex justify-content-between align-items-baseline">
                <a href="" class="student-data">
                  Бурыдкина Татьяна
                </a>
                <div class="wrapper d-flex">
                  <input type="button" class="accept" value="Принять">
                  <input type="button" class="cancel" value="Отклонить">
                  <input type="button" class="accept-mobile" value="+">
                  <input type="button" class="cancel-mobile" value="x">
                </div>

              </div>

            </div>
          </div>


        </div>

      </div>
      <div class="side-part col-lg-4 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <p class="title">
              Дисциплины
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="subjects">
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>