<div class="container mt-4">
    <div class="card">
      <div class="card-body">
  
        <div class="row">
  
          <div ngbDropdown class="col-md-2">
            <button class="btn btn-outline-secondary btn-block" id="filterCourse" ngbDropdownToggle>Специальность</button>
            <div ngbDropdownMenu aria-labelledby="filterCourse">
              <button class="dropdown-item"  *ngFor="let speciality of specialities$ | async" (click)="selectSpeciality(institute)">{{institute.title}}</button>
            </div>
          </div>
  
          <div ngbDropdown class="col-md-2">
            <button class="btn btn-outline-secondary btn-block" id="filterGroup" ngbDropdownToggle>Курс</button>
            <div ngbDropdownMenu aria-labelledby="filterGroup">
              <button class="dropdown-item" *ngFor="let group of institute.groups" (click)="filterGroup=institute">{{group.title}}</button>
            </div>
          </div>
  
          <div class="col-md-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Выберите файл">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Импортировать</button>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block" (click)="add(content)">Добавить студента</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card mt-4">
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr *ngFor="let student of students$ | async">
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
              <td class="w-25">
                <div class="float-right">
                  <button type="button" class="btn btn-primary" (click)="moreInfo(student)">Подробнее</button>
                  <button type="button" class="btn btn-danger ml-3" (click)="remove(student)">Удалить
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>