<div class="modal-header">
  <h4 class="modal-title">Добавление специальности</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newSpecialityForm" novalidate>
    <div class="form-group">
      <input [(ngModel)]="speciality.title" formControlName="title" type="text" name="name" class="form-control" placeholder="Название специальности">
    </div>
    <div class="form-group">
      <input [(ngModel)]="speciality.description" formControlName="description" type="text" name="description" class="form-control"
        placeholder="Описание">
    </div>
    <div class="form-group">
      <div ngbDropdown>
        <button class="btn btn-outline-secondary btn-block" id="instituteDropdown" ngbDropdownToggle>{{speciality.institute || 'Институт'}}</button>
        <div ngbDropdownMenu aria-labelledby="instituteDropdown">
          <button class="dropdown-item" *ngFor="let institute of institutes$ | async" (click)="selectInstitute(institute.title)">{{institute.title}}</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input [(ngModel)]="speciality.groupNaming" formControlName="groupNaming" type="text" name="groupNaming" class="form-control" placeholder="Префикс для групп">
    </div>
  </form>
  <ngb-alert *ngIf="alert" [type]="'warning'" (close)="closeAlert()">{{ alert }}</ngb-alert>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="newSpecialityForm.invalid || !speciality.institute"
    (click)="submit()">
    Создать специальность
  </button>
  <button type="button" class="btn btn-light" (click)="activeModal.close()">Отмена</button>
</div>