nav {
  background: #fff !important;
  i {
    margin-right: 5px;
  }
}
header {
  display: block;
  background-color: white;
  min-height: 60px;
  width: 100%;
  box-shadow: 1px 5px 20px -1px rgba(0, 0, 0, 0.2);
  .wrapper {
    margin-top: 5px;
    p {
      margin: 0;
    }
    .title {
      font-size: 1em;
    }
    .sub-title {
      font-size: 0.8em;
    }
  }
  .user-icon {
    margin-top: 5px;
    display: block;
    background-color: #1e56a0;
    border: 1px solid #1e56a0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    img {
      max-height: 50px;
      border-radius: 50%;
      text-align: center;
      margin: auto;
    }
  }
  .signin-data {
    margin-top: 5px;
    .person_name > p {
      margin: 0;
      font-size: 0.9em;
    }
    .arrow-wrapper {
      a,
      a:hover,
      a:visited {
        color: black;
        text-decoration: none;
        margin-left: 5px;
      }
    }
  }
  .navigation-bar {
    border-top: 1px solid #f8f8f8;
    list-style-type: none;
    margin: 10px 0;
    padding: 10px 0;
    .nav-item {
      font-size: 0.9em;
      margin-right: 30px;
      a,
      a:visited {
        color: black;
        text-decoration: none;
        font-weight: 600;
        i {
          margin-right: 10px;
        }
      }
      a:hover {
        color: #6f9ef4;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  header {
    .header-info {
      display: none;
    }
  }
}
