<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="main-part col-lg-8 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="case main-info d-flex flex-column flex-md-row flex-lg-row">
              <div class="avatar-wrapper d-flex justify-content-center">
                <img src="../../public/img/avatar.jpg" alt="" class="student-avatar">
              </div>
              <div class="info-wrapper d-flex flex-column">
                <p class="fio">
                  Рандомный Студент Залепович
                </p>
                <p class="born_date">
                  <b>Дата рождения:</b>26.01.1997
                </p>
                <p class="faculty">
                  <b>Институт:</b> Институт компьютерных систем 
                </p>
                <p class="speciality">
                  <b>Специальность:</b> Компьютерные науки и информационные технологии
                </p>
                <p class="group">
                  <b>Группа:</b> АИ-143
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="info-title">
              <p>
                Основная информация
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="case">
              <div class="education-info">
                <p>
                  <b>Закончил:</b> Новокаховский политехнический колледж (2016 г.)</p>
                <p>
                  <b>№ приказа об отчислении:</b> 109547</p>
                <p>
                  <b>Форма обучения:</b> Дневная </p>
                <p>
                  <b>Использование учебного плана: </b>
                  <a href="">Документ</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="side-part col-lg-4 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <p class="title">
              Дисциплины
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="subjects">
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>