<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="main-part col-md-12 col-lg-8">
        <div class="row" style="padding-right: 15px">
          <div class="col-7 col-md-4 col-lg-4">
            <select name="" id="" class="form-control activities-select">
              <option value="all">Все активности </option>
              <option value="my">Мои активности </option>
            </select>
          </div>
          <div class="col-3 offset-md-3 col-md-3">
            <input type="button" value="Добавить" class="add-activity">
            <input type="button" value="+" class="add-activity-s">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-12 d-flex flex-column">
            <div class="activities">
              <div class="row activity-item d-flex align-items-top">
                <div class="wrapper d-flex col-9">
                  <div class="activity-icon col-md-1 d-flex align-self-baseline">
                    <img src="../../public/img/file-icon.png" alt="">
                  </div>
                  <div class="basic-info d-flex flex-column">
                    <div class="activity-title">
                      <a href="#">
                        Написание простых не очень длинных тезисов для конференции “PM Day”
                      </a>
                    </div>
                    <div class="additional-info d-flex">
                      <div class="creator-wrapper">
                        <p class="key creator"> Создано: </p>
                        <p class="value">Тесленко П.А.</p>
                      </div>
                      <div class="time-wrapper">
                        <p class="key time"> Добавлено: </p>
                        <p class="value">24.11.2017 в 10:36 </p>
                      </div>
                    </div>
                    <div class="additional-info d-flex">
                      <div class="encouragement-wrapper">
                        <p class="encouragement-title key">Поощрение:</p>
                        <p class="encouragement-value value">5 баллов</p>
                      </div>
                      <div class="status-wrapper">
                        <p class="status-title key">Статус:</p>
                        <p class="status-value value">Не подтверждено</p>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="wrapper col-md-12 col-lg-3 col-12">
                  <button class="btn btn-primary">Заявка</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="side-part col-lg-4 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <p class="title">
              Дисциплины
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="subjects">
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>