<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="main-part col-md-12 col-lg-8">
        <div class="row d-flex justify-content-between" style="padding-right: 15px">
          <div class="dropdown col-7 col-md-4 col-lg-4">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Активности
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Все активности</a>
                <a class="dropdown-item" href="#">Мои активности</a>
              </div>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-primary">Добавить</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-12 d-flex flex-column">
            <div class="activities">
              <div class="row activity-item d-flex align-items-top">
                <div class="wrapper d-flex col-lg-9 col-md-9 col-12">
                  <div class="basic-info d-flex flex-column col-12">
                    <div class="activity-title">
                      <a href="#">
                        Написание простых не очень длинных тезисов для конференции “PM Day”
                      </a>
                    </div>
                    <div class="additional-info d-flex">
                      <div class="creator-wrapper">
                        <p class="key creator"> Создано: </p>
                        <p class="value">Тесленко П.А.</p>
                      </div>
                      <div class="time-wrapper">
                        <p class="key time"> Добавлено: </p>
                        <p class="value">24.11.2017 в 10:36 </p>
                      </div>
                    </div>
                    <div class="additional-info d-flex">
                      <div class="encouragement-wrapper">
                        <p class="encouragement-title key">Поощрение:</p>
                        <p class="encouragement-value value">5 баллов</p>
                      </div>
                      <div class="status-wrapper">
                        <p class="status-title key">Статус:</p>
                        <p class="status-value value">Не подтверждено</p>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="wrapper col-md-3 col-lg-3 col-12 center-block">
                  <button class="btn btn-primary">Заявка</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="side-part col-lg-4 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <p class="title">
              Дисциплины
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="subjects">
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>
              <div class="subject-item d-flex flex-column">
                <a href="#" class="subject-title">
                  Технологии защиты информации
                </a>
                <p class="subject-teacher">
                  Болтенков В.А., Куваева В.И
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
