<section class="main-section">
    <div class="container">
      <div class="row filters d-flex flex-lg-row">
        <div class="col-md-2 col-12">
          <div class="dropdown show">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Выберите кафедру
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </div>
        </div>


        <div class="col-md-3 col-12">
          <button class="btn btn-primary" style="width: 100%">Добавить предмет</button>
        </div>
      </div>
        <div class="row stub">
            <div class="col-md-12">
                <p class="stub-text">
                    Тут будет отображаться список предметов
                </p>
            </div>
        </div>
        <div class="row list">
            <div class="col-12 item-wrapper">
                <div class="row">
                    <div class="col-8 d-flex">
                        <p class="name">
                            Моделирование систем, Компьютерные науки и информационные технологии
                        </p>
                        <a href="#" class="edit-button">
                            <img src="../../public/img/edit-button.png" alt="">
                        </a>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                        <button class="but btn btn-danger""> Удалить </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 d-flex flex-column additional">
                        <p class="labs-number">
                            <b>Лабораторных:</b> 5</p>
                        <p class="lecture-number">
                            <b>Лекций:</b> 10</p>
                        <p class="practise-number">
                            <b>Практических: нет</b>
                        </p>
                    </div>
                    <div class="col-12 col-md-4 d-flex flex-column additional">
                        <p class="term-number">
                            <b>Номер семестра:</b> 6</p>
                        <p class="hours-number">
                            <b>Количество часов:</b> 54</p>
                        <p class="credits-number">
                            <b>Количество кредитов:</b> 2</p>
                    </div>
                </div>
            </div>
            <div class="col-12 item-wrapper">
                <div class="row">
                    <div class="col-8 d-flex">
                        <p class="name">
                            Моделирование систем, Компьютерные науки и информационные технологии
                        </p>
                        <a href="#" class="edit-button">
                            <img src="../../public/img/edit-button.png" alt="">
                        </a>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                        <input type="button" class="but delete" value="Удалить">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 d-flex flex-column additional">
                        <p class="labs-number">
                            <b>Лабораторных:</b> 5</p>
                        <p class="lecture-number">
                            <b>Лекций:</b> 10</p>
                        <p class="practise-number">
                            <b>Практических: нет</b>
                        </p>
                    </div>
                    <div class="col-12 col-md-4 d-flex flex-column additional">
                        <p class="term-number">
                            <b>Номер семестра:</b> 6</p>
                        <p class="hours-number">
                            <b>Количество часов:</b> 54</p>
                        <p class="credits-number">
                            <b>Количество кредитов:</b> 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
