<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h5>Предметы</h5>
    </div>
  </div>
      
  <div class="card mt-2">
    <div class="card-body">

      <div class="row">

        <div ngbDropdown class="col-md-3">
          <button class="btn btn-outline-secondary btn-block text-truncate" id="specialityFilter" ngbDropdownToggle>
            {{specialityFilter || 'Специальность'}}
          </button>
          <div ngbDropdownMenu aria-labelledby="specialityFilter">
            <button class="dropdown-item" *ngFor="let speciality of specialities$ | async" (click)="filterSpeciality(speciality.title)">{{speciality.title}}</button>
          </div>
        </div>

        <div ngbDropdown class="col-md-3">
          <button class="btn btn-outline-secondary btn-block text-truncate" id="groupFilter" ngbDropdownToggle>
            {{groupFilter || 'Группа'}}
          </button>
          <div ngbDropdownMenu aria-labelledby="groupFilter">
            <button class="dropdown-item" *ngFor="let group of groups$ | async" (click)="filterGroup(group.title)">{{group.title}}</button>
          </div>
        </div>

        <div class="offset-md-3 col-md-3">
          <button type="button" class="btn btn-primary btn-block" (click)="add()">Добавить предмет</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">

      <div class="row">
        <div class="col-md-12">
          <input [(ngModel)]="subjectTitleFilter" type="text" class="form-control" placeholder="Поиск предмета...">
        </div>
      </div>

    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <table class="table" *ngIf="(subjects$ | async)?.length > 0; else emptySubjects">
        <tbody>
          <tr *ngFor="let subject of subjects$ | async | filterSubjects: {name: subjectTitleFilter, speciality: specialityFilter, group: groupFilter}">
            <td>{{subject.title}}
              <i class="details-label">({{subject.speciality}})</i>
            </td>
            <td class="w-25">
              <div class="float-right">
                <button type="button" class="btn btn-primary" [routerLink]="['../subject-details', subject._id]">Подробнее</button>
                <button type="button" class="btn btn-danger ml-3" (click)="remove(subject)">Удалить
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #emptySubjects>
        <div class="m-2">Пока нет предметов</div>
      </ng-template>
    </div>
  </div>
</div>