$font-size : 90%;
$font-color-gray: #555555;
$font-color-gray-l: $font-color-gray + #444;

$bg-primary-color: #52a2f8;
$brdr-primary-color: $bg-primary-color - #111;

$bg-danger-color: #e2767f;
$brdr-danger-color: $bg-danger-color - #111;

$bg-light-color: #f0f0f0;
$bg-light-l-color: $bg-light-color + #070707;
