<div class="modal-header">
    <h4 class="modal-title">Добавление преподавателя</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newTeacherForm"  novalidate>
      <div class="form-group">
        <input [(ngModel)]="teacher.name" formControlName="name" type="text" name="name" class="form-control" placeholder="ФИО преподавателя">
      </div>
      <div class="form-group">
        <input [(ngModel)]="teacher.email" formControlName="email" type="email" name="email" class="form-control" placeholder="Email адресс">
      </div>
      <div class="form-group">
        <div class="input-group">
          <input [(ngModel)]="teacher.birthdate" formControlName="birthdate" class="form-control" placeholder="Дата рождения 1990-01-01" name="birthdate" ngbDatepicker #bDate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="bDate.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="teacher.address" formControlName="address" type="text" name="address" class="form-control" placeholder="Адресс проживания">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div ngbDropdown>
              <button class="btn btn-outline-secondary btn-block" id="instituteDropdown" ngbDropdownToggle>{{teacher.institute || 'Институт'}}</button>
              <div ngbDropdownMenu aria-labelledby="instituteDropdown">
                <button class="dropdown-item" *ngFor="let institute of institutes$ | async" (click)="selectInstitute(institute)">{{institute.title}}</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div ngbDropdown>
              <button class="btn btn-outline-secondary btn-block" id="specilaityDropdown" ngbDropdownToggle>{{teacher.speciality || 'Специальность'}}</button>
              <div ngbDropdownMenu aria-labelledby="specilaityDropdown">
                <button class="dropdown-item" *ngFor="let speciality of specialities$ | async" (click)="selectSpeciality(speciality)">{{speciality.title}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="teacher.position" formControlName="position" type="text" name="position" class="form-control" placeholder="Должность">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div ngbDropdown>
              <button class="btn btn-outline-secondary btn-block" id="groupDropdown" ngbDropdownToggle>{{teacher.scienceDegree || 'Научная степень'}}</button>
              <div ngbDropdownMenu aria-labelledby="groupDropdown">
                <button class="dropdown-item" (click)="teacher.scienceDegree = 'Не имеет'">Не имеет</button>
                <button class="dropdown-item" (click)="teacher.scienceDegree = 'Доцент'">Доцент</button>
                <button class="dropdown-item" (click)="teacher.scienceDegree = 'Профессор'">Профессор</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <ngb-alert *ngIf="alert" [type]="'warning'" (close)="closeAlert()">{{ alert }}</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="newTeacherForm.invalid || !teacher.institute || !teacher.speciality || !teacher.scienceDegree" (click)="submit()">
      Создать преподавателя
    </button>
    <button type="button" class="btn btn-light" (click)="activeModal.close()">Отмена</button>
  </div>