<header>

  <div class="container">
    <div class="header-info row">
      <div class="col-5">
        <div class="wrapper">
          <p class="title">
            <b>Институт компьютетных систем</b>
          </p>
          <p class="sub-title">
            Одесский Национальный политехнический университет
          </p>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-5 offset-2 col-8 d-flex justify-content-end align-items-center">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Поиск">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Найти</button>
        </form>
        <div class="logout-wrapper">
          <a href="" class="logout">Выход</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0">
      <a class="navbar-brand" href="#">ИКС ОНПУ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="students">
              <i class="fa fa-home" aria-hidden="true"></i> Студенты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="teachers">
              <i class="fa fa-user-o" aria-hidden="true"></i> Преподаватели</a>
          </li>
          <li class="nav-item " ngbDropdown>
            <a class="nav-link dropdown-toggle" href="javascipt:void(0)" id="dropdowEduProcess" ngbDropdownToggle>
              <i class="fa fa-user-o" aria-hidden="true"></i> Учебный процесс</a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdowEduProcess">
              <a class="dropdown-item" routerLink="subjects">Предметы</a>
              <a class="dropdown-item" routerLink="specialities">Специальности</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
