.mobile {
  display: none;
}
nav {
  background-color: #fff !important;
}
header {
  display: block;
  padding-top: 10px;
  background-color: white;
  min-height: 60px;
  width: 100%;
  border-bottom: 1px solid #eee;
  .find-wrapper {
    input.find-field {
      height: 35px;
      min-width: 290px;
      background-color: #f8f8f8;
      color: #99999a;
      border: 1px solid #f8f8f8;
      border-radius: 5px;
      padding: 0 5px;
    }
    input.find-button {
      height: 35px;
      min-width: 85px;
      color: white;
      background-color: #1875f0;
      border: 1px solid #1875f0;
      border-radius: 0 5px 5px 0;
    }
  }
  .logout-wrapper {
    margin-left: 20px;
    a,
    a:hover,
    a:visited {
      color: #333333;
      text-decoration: none;
    }
  }
  .navigation-bar {
    border-top: 1px solid #f8f8f8;
    list-style-type: none;
    margin: 10px 0;
    padding: 10px 0;
    .nav-item {
      font-size: 0.9em;
      margin-right: 30px;
      a,
      a:visited {
        color: black;
        text-decoration: none;
        font-weight: 400;
      }
      a:hover {
        color: #6f9ef4;
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  header {
    .header-info {
      display: none;
    }
  }
  .main-section {
    .filters > div {
      margin-bottom: 15px;
    }
    .stub {
      .stub-text {
        font-size: 2em;
      }
    }
    .list {
      .item-wrapper {
        .but {
          display: none;
        }
        .fa-info-circle,
        .fa-window-close {
          display: block;
        }
      }
    }
  }
}
