<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="main-part col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-12">
            <div class="notifications">
              <div class="notification d-flex justify-content-between align-items-baseline">
                <p class="message">
                  Скоро модульная неделя.
                  <a href="#">Проверьте</a> всё ли закрыто.
                </p>
                <div class="img-wrapper">
                  <img class="close" src="../../public/img/close-icon.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="head d-flex justify-content-between">
              <div class="title-wrapper">
                <p class="title">
                  Расписание
                </p>
              </div>
              <div class="term d-flex align-items-baseline">
                <div class="wrapper">
                  <img src="../../public/img/left-arrow.png" alt="">
                </div>
                <div class="wrapper">
                  <img src="../../public/img/calendar.png" alt="">
                </div>
                <div class="wrapper d-flex flex-column align-self-top">
                  <div class="numerator">
                    <p>13</p>
                  </div>
                  <div class="denumerator">
                    <p>17</p>
                  </div>
                </div>
                <div class="wrapper">
                  <img src="../../public/img/right-arrow.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timetable">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <div class="day lab d-flex flex-column">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day lab">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day lecture">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day practice">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day empty">

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <div class="day lab d-flex flex-column">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day empty">
              </div>
              <div class="day lecture">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day empty">

              </div>
              <div class="day practice">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <div class="day practice d-flex flex-column">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day empty">
              </div>
              <div class="day lecture">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day empty">

              </div>
              <div class="day lab">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <div class="lecture day d-flex flex-column">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day practice">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day lab">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day lecture">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
              <div class="day lab">
                <div class="wrapper">
                  <p>Теория защиты информации</p>
                </div>
                <div class="wrapper d-flex justify-content-between">
                  <p> 308ф</p>
                  <p>8:00 - 9:35</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="timetable-mobile">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="date">
                      <p>
                        13.03
                      </p>
                    </span>
                    <span class="day">
                      Понедельник
                    </span>
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lecture d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair practice d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed d-flex" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="date">
                      <p>
                        13.03
                      </p>
                    </span>
                    <span class="day">
                      Вторник
                    </span>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lecture d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair practice d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed d-flex" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="date">
                      <p>
                        13.03
                      </p>
                    </span>
                    <span class="day">
                      Среда
                    </span>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lecture d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair practice d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed d-flex" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <span class="date">
                      <p>
                        13.03
                      </p>
                    </span>
                    <span class="day">
                      Четверг
                    </span>
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lecture d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair practice d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed d-flex" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span class="date">
                      <p>
                        13.03
                      </p>
                    </span>
                    <span class="day">
                      Пятница
                    </span>
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lecture d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair practice d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                  <div class="double-pair lab d-flex">
                    <div class="time-wrapper d-flex flex-column">
                      <p class="class">
                        205ф
                      </p>
                      <p class="time">
                        8:00 - 9:35
                      </p>
                    </div>
                    <div class="content-wrapper">
                      <p class="subj-title">
                        Теория защиты информации
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12 title">
            <p>Ваши последние активности</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="activities">
              <div class="activity-item d-flex align-items-top">
                <div class="activity-icon d-flex align-self-baseline">
                  <img src="../../public/img/file-icon.png" alt="">
                </div>
                <div class="basic-info d-flex flex-column">
                  <div class="activity-title">
                    <a href="#">
                      Написание простых не очень длинных тезисов для конференции “PM Day”
                    </a>
                  </div>
                  <div class="additional-info d-flex justify-content-between">
                    <p class="creator"> Создано: Тесленко П.А. </p>
                    <p class="time"> Добавлено: 24.11.2017 в 10:36 </p>
                  </div>
                </div>
                <div class="status-wrapper">
                  <p class="status-title">Статус:</p>
                  <p class="status-value">Не подтверждено</p>
                </div>
                <div class="encouragement">
                  <p class="encouragement-title">Поощрение:</p>
                  <p class="status-value">5 баллов</p>
                </div>
              </div>
              <div class="activity-item d-flex align-items-top">
                <div class="activity-icon d-flex align-self-baseline">
                  <img src="../../public/img/file-icon.png" alt="">
                </div>
                <div class="basic-info d-flex flex-column">
                  <div class="activity-title">
                    <a href="#">
                      Написание простых не очень длинных тезисов для конференции “PM Day”
                    </a>
                  </div>
                  <div class="additional-info d-flex justify-content-between">
                    <p class="creator"> Создано: Тесленко П.А. </p>
                    <p class="time"> Добавлено: 24.11.2017 в 10:36 </p>
                  </div>
                </div>
                <div class="status-wrapper">
                  <p class="status-title">Статус:</p>
                  <p class="status-value">Не подтверждено</p>
                </div>
                <div class="encouragement">
                  <p class="encouragement-title">Поощрение:</p>
                  <p class="status-value">5 баллов</p>
                </div>
              </div>
              <div class="activity-item d-flex align-items-top">
                <div class="activity-icon d-flex align-self-baseline">
                  <img src="../../public/img/file-icon.png" alt="">
                </div>
                <div class="basic-info d-flex flex-column">
                  <div class="activity-title">
                    <a href="#">
                      Написание простых не очень длинных тезисов для конференции “PM Day”
                    </a>
                  </div>
                  <div class="additional-info d-flex justify-content-between">
                    <p class="creator"> Создано: Тесленко П.А. </p>
                    <p class="time"> Добавлено: 24.11.2017 в 10:36 </p>
                  </div>
                </div>
                <div class="status-wrapper">
                  <p class="status-title">Статус:</p>
                  <p class="status-value">Не подтверждено</p>
                </div>
                <div class="encouragement">
                  <p class="encouragement-title">Поощрение:</p>
                  <p class="status-value">5 баллов</p>
                </div>
              </div>
              <div class="activity-item d-flex align-items-top">
                <div class="activity-icon d-flex align-self-baseline">
                  <img src="../../public/img/file-icon.png" alt="">
                </div>
                <div class="basic-info d-flex flex-column">
                  <div class="activity-title">
                    <a href="#">
                      Написание простых не очень длинных тезисов для конференции “PM Day”
                    </a>
                  </div>
                  <div class="additional-info d-flex justify-content-between">
                    <p class="creator"> Создано: Тесленко П.А. </p>
                    <p class="time"> Добавлено: 24.11.2017 в 10:36 </p>
                  </div>
                </div>
                <div class="status-wrapper">
                  <p class="status-title">Статус:</p>
                  <p class="status-value">Не подтверждено</p>
                </div>
                <div class="encouragement">
                  <p class="encouragement-title">Поощрение:</p>
                  <p class="status-value">5 баллов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-part col-md-4">
        <div class="row">
          <div class="col-md-12 greeting">
            <p>Добро пожаловать, Дженни!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="personal-block d-flex flex-column">
              <div class="basic-personal-info d-flex">
                <div class=" d-flex align-self-center">
                  <img src="../../public/img/avatar.jpg" alt="" class="avatar">
                </div>
                <div class="initials d-flex flex-column">
                  <p class="name">Дженни Томпсон</p>
                  <p class="student-mail">
                    random.student@gmail.com
                  </p>
                </div>
              </div>
              <div class="common-personal-info">
                <p>
                  <b>Институт:</b> Институт компьютерных систем</p>
                <p>
                  <b>Специальность:</b> Компьютерные науки иинформационные технологии</p>
                <p>
                  <b>Группа:</b> АИ-143 </p>
              </div>
              <div class="button-wrapper">
                <input class="personal-page-button" type="button" value="Перейти на страницу">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>