<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h5>Специальности</h5>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">

      <div class="row">

        <div ngbDropdown class="col-md-2">
          <button class="btn btn-outline-secondary btn-block text-truncate" id="instituteFilter" ngbDropdownToggle>
            {{instituteFilter || 'Институт'}}
          </button>
          <div ngbDropdownMenu aria-labelledby="instituteFilter">
            <button class="dropdown-item" *ngFor="let institute of institutes$ | async" (click)="filterInstitute(institute.title)">{{institute.title}}</button>
          </div>
        </div>

        <div class="offset-md-7 col-md-3">
          <button type="button" class="btn btn-primary btn-block" (click)="add()">Добавить специальность</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">

      <div class="row">
        <div class="col-md-12">
          <input [(ngModel)]="specialityTitleFilter" type="text" class="form-control" placeholder="Поиск специальности...">
        </div>
      </div>

    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <table class="table" *ngIf="(specialities$ | async)?.length > 0; else emptySubjects">
        <tbody>
          <tr *ngFor="let speciality of specialities$ | async | filterSpeciality: {title: specialityTitleFilter, institute: instituteFilter}">
            <td>{{speciality.title}}
              <i class="details-label" *ngIf="speciality.institute">({{speciality.institute}})</i>
            </td>
            <td class="w-25">
              <div class="float-right">
                <button type="button" class="btn btn-primary" [routerLink]="['../speciality-details', speciality._id]">Подробнее</button>
                <button type="button" class="btn btn-danger ml-3" (click)="remove(speciality)">Удалить
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #emptySubjects>
        <div class="m-2">Пока нет специальностей</div>
      </ng-template>
    </div>
  </div>
</div>