<section class="main-section">
    <div class="container">
        <div class="row filters d-flex flex-lg-row">

            <div class="col-md-3">
                <button class="button" style="width: 100%">Добавить специальность</button>
            </div>
        </div>
        <div class="row stub">
            <div class="col-md-12">
                <p class="stub-text">
                    Тут будет отображаться список специальностей
                </p>
            </div>
        </div>
        <div class="row list">
            <div class="col-12 item-wrapper">
                <div class="row">
                    <div class="col-8 d-flex">
                        <p class="name">
                            <b>Название специальности: </b>Компьютерные науки и информационные технологии
                        </p>
                        <a href="#" class="edit-button">
                            <img src="../../public/img/edit-button.png" alt="">
                        </a>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                        <input type="button" class="but delete" value="Удалить">
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="code">
                            <b>Код специальности: 122</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="degree">
                            <b>Тип подготовки:</b> Магистр
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 item-wrapper">
                <div class="row">
                    <div class="col-8 d-flex">
                        <p class="name">
                            <b>Название специальности: </b>Компьютерные науки и информационные технологии
                        </p>
                        <a href="#" class="edit-button">
                            <img src="../../public/img/edit-button.png" alt="">
                        </a>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                        <input type="button" class="but delete" value="Удалить">
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="code">
                            <b>Код специальности: 122</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="degree">
                            <b>Тип подготовки:</b> Магистр
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>