<h4 class="mb-4">
  <p class="text-center">Регистрация</p>
</h4>
<form [formGroup]="verifySignUnForm" *ngIf="!verified">
  <div class="input-wrapper">
    <input 
      formControlName="email"
      [(ngModel)]="email"
      name="email" type="text" class="input-type login" placeholder="Введите email">
  </div>
  <div class="input-wrapper">
    <input
      formControlName="verificationCode"
      [(ngModel)]="verificationCode"
      name="verificationCode" type="password" class="input-type password" placeholder="Введите код из письма">
  </div>
  <div class="button-wrapper">
    <button [disabled]="verifySignUnForm.invalid" (click)="verify()" class="next_item">Дальше</button>
  </div>
</form>

<form [formGroup]="setPasswordForm" *ngIf="verified">
  <div class="input-wrapper">
    <input 
      formControlName="password"
      name="password" type="password" class="input-type password" placeholder="Введите пароль">
  </div>
  <div class="input-wrapper">
    <input
      formControlName="approvePassword"
      name="approvePassword" type="password" class="input-type password" placeholder="Подтвердите пароль">
  </div>
  <div class="button-wrapper">
    <button [disabled]="setPasswordForm.invalid" (click)="setPassword()" class="next_item">Зарегистрировать</button>
  </div>
</form>

<div class="or-wrapper">
  <hr>
</div>

<div class="to-enter-wrapper">
  <a href="" class="to-enter" routerLink="../signin">
    Уже зарегистрирован? Войти!
  </a>
</div>
 