<div class="main-section">
  <div class="container">
    <div class="row subject-info">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 d-flex flex-column">
            <p class="title">
              Технологии защиты информации
            </p>
            <p class="info teachers">
              <b>Преподаватели: </b> Болтенков В.А., Куваева В.И.
            </p>
            <div class="info group">
              <b>Группа:</b> АИ-152
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex flex-column">
            <p class="title">
              Требования для сдачи предмета
            </p>
            <p class="info labs-number">
              <b>Количество обязательных к сдаче лабораторных:</b> 12
            </p>
            <p class="info req-work">
              <b>Обязательные виды работ:</b> ргр, курсовой проект
            </p>
            <p class="info pass-kind">
              <b>Вид сдачи предмета:</b> экзамен
            </p>
            <p class="info min-mark">
              <b>Минимальный бал для допуска к экзамену:</b> 60
            </p>
            <p class="comment info">
              <b>Комментарий преподавателя:</b> LoremLoremLoremLoremLoremLoremLoremLoremLoremLorem LoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLorem
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row title-row">
      <div class="col-12 d-flex justify-content-between">
        <div class="wrapper">
          <p class="title">
            Журнал
          </p>
        </div>
        <div class="wrapper">
          <input type="button" class=" print-button" value="Распечатать журнал">
        </div>
      </div>
    </div>
    <div class="row journal-body">
      <div class="col-md-12 journal-body-container">
        <table class="table table-bordered">
          <tr>
            <td class="group">
              <b> АИ-143</b>
            </td>
            <td>Л1</td>
            <td>Лаб1</td>
            <td>ПР1</td>
            <td>Л1</td>
            <td>Лаб2</td>
            <td>ПР2</td>
            <td>Л3</td>
            <td>Лаб3</td>
            <td>Л4</td>
            <td>Лаб4</td>
            <td>ПР4</td>
            <td>Л5</td>
            <td class="first-module ">МК1</td>
            <td>Лаб5</td>
            <td>ПР5</td>
            <td>Л16/td>
              <td>Лаб6</td>
              <td>ПР6</td>
              <td>Л7</td>
              <td>Лаб7</td>
              <td>Пр7</td>
              <td>Лаб8</td>
              <td>ПР8</td>
              <td>Л8</td>
              <td class="second-module ">МК2</td>
              <td class="sum-module "> Итог</td>
              <td class="exam"> Экз</td>
          </tr>
          <tr>
            <td class="student-name">
              Белошицкий Владислав
            </td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>5</td>
            <td>5</td>
            <td class="first-module passed">45</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>5</td>
            <td>5</td>
            <td class="second-module passed">45</td>
            <td class="sum-module passed"> 90</td>
            <td class="exam passed"> 90</td>
          </tr>
          <tr>
            <td class="student-name">
              Гузий Владимир
            </td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>5</td>
            <td>5</td>
            <td class="first-module passed">45</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>10</td>
            <td>5</td>
            <td>+</td>
            <td>5</td>
            <td>5</td>
            <td class="second-module passed">45</td>
            <td class="sum-module passed"> 90</td>
            <td class="exam passed"> 90</td>
          </tr>
          <tr>
            <td class="student-name">
              Мунтян Аленка
            </td>
            <td>-</td>
            <td>3</td>
            <td>1</td>
            <td>+</td>
            <td>4</td>
            <td>1</td>
            <td>-</td>
            <td> </td>
            <td> </td>
            <td>-</td>
            <td>2</td>
            <td>2</td>
            <td class="first-module failed">13</td>
            <td>-</td>
            <td>3</td>
            <td>1</td>
            <td>+</td>
            <td>4</td>
            <td>1</td>
            <td>-</td>
            <td> </td>
            <td> </td>
            <td>-</td>
            <td>2</td>
            <td>2</td>
            <td class="second-module failed">13</td>
            <td class="sum-module failed"> 26 </td>
            <td class="exam passed"> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>