<div class="main-wrapper">
  <div class="substrate">
    <div class="container">
      <div class="row">
        <div class="logo">
          <img src="../../../assets/img/Logo.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-3 col-lg-6  offset-md-3 col-md-6  col-12 form-wrapper sign-in-form">

          <router-outlet></router-outlet>

        </div>
      </div>
      <footer>
        <div class="row">
          <div class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-12">
            <p class="footer-text">
              Институт компьютерных систем, Одесский Национальный политехнический университет
              <br> 2018г. Все права защищены
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>