/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-file-input/ng2-file-input.scss";

$font-size : 90%;

body {
  margin: 0;
  background-color: #f0f0f0;
  font-size: $font-size;
  color: #555555;
}

button, input, span.btn, a.dropdown-item {
  font-size: $font-size !important;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.rounded {
  border-radius: 0.25rem !important;
}

.bg-white {
  background-color: #fff!important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

.unborder {
  border: none;
}

table tr:first-child td {
  border-top: 0;
}