<form [fromGroup]="signInForm" (submit)="signin()">
  <div class="input-wrapper">
    <input 
      (keyup.enter)="signin()" 
      formControlName="email"
      type="text" class="input-type login" placeholder="Введите email">
  </div>
  <div class="input-wrapper">
    <input   
      (keyup.enter)="signin()"
      formControlName="password"
      type="password" class="input-type password" placeholder="Введите пароль">
  </div>
  <div class="button-wrapper">
    <button type="submit" [disabled]="signInForm.invalid" class="next_item">Войти</button>
  </div>
</form>
          